$search-container-width: 240px;
$etherpads-container-gap-width: calc( #{$search-container-width} + #{$container-padding} );
$highlight-orange: adjust-hue($orange, 25);

.page.home {
  .marked {
    background: $highlight-orange;
  }
  footer {
    color: lighten($orange, 40);
  }
}

#search-container {
  background: darken($gecko-green, 15%);
  position: fixed;
  width: $search-container-width;
  height: 100%;
  color: $white;
  z-index: 11;
}

#search {
  .issue {
    position: relative; 
    margin: 1.5rem 0;
    a.name {
      display: inline-block;
      color: $white;
      background: darken($gecko-green,30%);
      padding: .5rem 1rem;
      border-radius: 2px;
      opacity: .9;
      cursor: pointer;
      &:hover {
        opacity: 1; 
        color: darken($gecko-green, 30%);
        background: lighten($gecko-green, 30%);
      }
      &:active {
        opacity: 1; 
        background: $market-orange;
      }
    }
    a.active {
        opacity: 1; 
        background: $gecko-green;
      }
    a.match {
      display: inline-block;
      margin: 0 .5rem 0 0;
      cursor: pointer;
      &:hover {
        color: $highlight-orange;
      }
    }
    .tooltip {
      display: none;
      position: absolute;
      background: rgba(0,0,0,0.75);
      top: 2.5rem;
      left: 100px;
      width: 300px;
      z-index: 101;
      padding: .5em;
      border-radius: 2px;
    }
    &:hover .tooltip {
      display: block;
    }
  }
  .issue:nth-child(5) {
    &:after {
      display: block;
      content: "";
      border-bottom: 1px solid darken($gecko-green, 20%);
      margin-top: 1.5rem;
    }
  }
}

#etherpad-nav {
  position: fixed;
  display: flex;
  top: 60px;
  left: 290px;
  background: $flame-yellow;
  padding: 0 1rem;
  border-radius: 2px;
  #search-result {
    line-height: 4rem;
    margin-right: 1rem;
    color: darken($flame-yellow,30%);
    .status,
    .help-text {
      display: inline-block;
    }
  }
  nav {
  }
  button { 
    margin: .25em;
    font-size: 3rem;
    line-height: .5em;
    color: lighten($flame-yellow, 30%);
    background: darken($flame-yellow,15%);
    border:0;
    outline: 0;
    box-shadow: none;
    border-radius: 50%;
    padding: .1em .3em .25em;
    vertical-align: -.1em;
    cursor: pointer;
    &:hover {
      color: lighten($flame-yellow, 50%);
      background: lighten($flame-yellow, 30%);
    }
  }
}

#reset {
  display: inline-block;
  font-size: .8em;
  border: 1px solid $white;
  padding: .5rem 1rem;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

#etherpads-container {
  position: relative;
  margin-left: $etherpads-container-gap-width;
  padding-top: 80px;
  word-wrap: break-word;
/* 
  .scanner {
    position: fixed;
    top: $container-padding * 2;
    right: 0;
    content: "";
    height: 1.5rem;
    width: calc( 100% - ( 450px + 2rem *2)); // 100% - $etherpads-container-gap-width
    background: green;
    filter: blur(5px);
    visibility: hidden;
    z-index: 1000000;
    animation-duration: 1s;
    animation-name: scan-down;
    animation-iteration-count: 1;
  }

  .scanner-mask {
    position: absolute;
    left: 0;
    background: $black;
    width: 100%;
    height: 100%;
    opacity: .5;
  } 
*/
}

/*
@keyframes scan-down {
  from {
    visibility: visible;
    opacity: 1;
    top: $container-padding * 2;
  }

  to {
    visibility: hidden;
    opacity: 0;
    top: 1200px;
  }
}
*/

.etherpad {
  /* padding: $container-padding; */
  margin:2rem 2rem 4rem; 
  box-shadow: 0 -2px 8px 1px rgba(0, 0, 0, 0.12);
  max-width:900px;
  h3 {
    padding: .5rem 1.5rem .67rem;
    background: darken($market-orange, 30%);
    margin-top: 0;
    color: $white;
    display: inline-block;
    border-radius: 0 0 6px 0;
    a {
      color: $white;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
  .content {
    margin-left: 1rem;
  }
}


