.page.home {
  footer {
    color: lighten($orange, 40);
  }
}

#search-container {
  background: #333;
  position: fixed;
  width: 550px;
  height: 100%;
  color: $white;
}

#search {
  h3 {
    margin: 1rem 0 .5rem 0;
  }
  .keyphrase {
    color: #ccc;
    background: $grey;
    border-radius: 3px;
    cursor: pointer;
    &.active,
    &:hover {
      color: $grey;
      background: $white;
    }
  }
}

#search-result {
  color: $orange;
}

#reset {
  display: inline-block;
  border: 1px solid #000;
  padding: 0px 5px;
  border-radius: 3px;
  color: #000;
  background: $turquoise;
  cursor: pointer;
  float: right;
  &:hover {
    background: darken($turquoise, 20);
  }
}

#search {
  h3 {
    margin: 1rem 0 .5rem 0;
  }
}


#etherpads-container {
  width: calc(100% - 650px);
  margin-left: 600px;
  padding-top: 0;
  // height: 500px;
  // overflow-x: hidden;
  // overflow-y: scroll;
}

.etherpad {
  padding: 2rem;
  // &:nth-child(2n+1) {
  //   background: #ccc;
  // }
  h3 {
    padding: .5rem 1rem;
    background: $orange;
    margin-top: 0;
    color: $grey;
    border-radius: 3px;
    a {
      color: $black;
      margin-left: 1rem;
      &:hover {
        color: $white;
      }
    }
  }
  .content {
    margin-left: 30px;
  }
}
