@import 'variables.scss';
@import 'home.scss';
@import 'word_cloud.scss';

html {
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

h1 {
  margin-top: 0;
}

.highlight {
  background: lighten($orange, 20);
}

#wrapper {
  // width: 1200px;
  // margin: 0 auto;
  overflow: hidden;
  // display: flex;
  // align-items: flex-start;
  // flex: 1 auto;
  // justify-content: center;
}

nav {
  position: fixed;
  background: $black;
  color: $white;
  width: 100%;
  padding: 1rem 2rem;
  text-align: right;
  z-index: 1000;
  box-sizing: padding-box;
  h1 {
    display: inline-block;
    margin: 0 3rem 0 0;
    float: left;
    line-height: 0.9;
  }
  a {
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    &:not(:last-child):after {
      margin: 0 1rem;
      content: "//";
      color: $grey;
    }
    &:hover {
      color: #FF1660;
    }
  }
}

#main {
  padding-top: 42px;
}

.main-containers {
  // float: left;
  padding: 2rem;
}

.keyphrase {
  display: inline-block;
  margin: 0 3px 5px 0;
  padding: 2px 5px;
}
