@import 'variables.scss';
@import 'home.scss';
@import 'word_cloud.scss';

html {
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

h1 {
  margin-top: 0;
}

.nav {
  color: $blue-link;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  &:hover {
    color: #FF1660;
  }
}

.highlight {
  background: yellow;
}

#wrapper {
  // width: 1200px;
  // margin: 0 auto;
  overflow: hidden;
  // display: flex;
  // align-items: flex-start;
  // flex: 1 auto;
  // justify-content: center;
}

.main-containers {
  // float: left;
  padding: 2rem;
}

#search-container {
  background: #DDD;
  position: fixed;
  width: 550px;
}

#etherpads-container {
  width: calc(100% - 600px);
  margin-left: 600px;
  padding-top: 0;
}

#search-result {
  color: #ED139E;
}

#reset {
  display: inline-block;
  border: 1px solid #000;
  padding: 0px 5px;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  &:hover {
    background: #000;
    color: #fff;
  }
}

#search {
  h3 {
    margin: 1rem 0 .5rem 0;
  }
}

.keyphrase {
  display: inline-block;
  margin: 0 3px 5px 0;
  padding: 2px 5px;
}

#etherpad-result {
  text-align: right;
  margin-right: 30px;
}

.etherpad {
  padding: 2rem;
  // &:nth-child(2n+1) {
  //   background: #ccc;
  // }
  h3 {
    padding: .5rem 1rem;
    background: $black;
    margin-top: 0;
    color: #ccc;
    border-radius: 3px;
    a {
      color: $white;
      margin-left: 1rem;
      &:hover {
        color: $blue-link;
      }
    }
  }
  .content {
    margin-left: 30px;
  }
}
