<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Docs Analyzer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link href="style.css" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="d3.layout.cloud.js" type="text/javascript"></script>
    <!-- https://github.com/davidmerfield/randomColor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js" type="text/javascript"></script>
    <script src="js/word_cloud.js" type="text/javascript"></script>
  </head>
  <body class="page word-cloud">
    <div id="wrapper">
      <nav>
        <h1>hello there :D</h1>
        <a href="/">keyphrase highlighter</a>
        <a href="/word_cloud">word cloud</a>
      </nav>
      <div id="main">
        <div id="word-cloud-nav">
        </div>
        <div id="word-cloud-container" class="main-containers">
          <div id="cloud"></div>
        </div>
      </div>
    </div>

     <script type="text/template" class="cloud-nav-template">
      <ul>
        <% _.each( categories, function( category ){ %>
        <li>
          <h3><%= category.name %></h3>
          <div class="keyphrases">
            <% _.each( category.keyphrases, function( keyphrase ){ %>
            <div class="keyphrase"><%= keyphrase %></div>
            <% }); %>
          </div>
        </li>
        <% }); %>
      </ul>
    </script>

    <script>
      var cloudNavTemplate = _.template(
        $( "script.cloud-nav-template" ).html()
      );
      var cloudNavData = {
        categories: [
          {
            name: "platforms / issues / programs",
            keyphrases: [ "Google", "Github", "gh", "chat", "etherpad", "discourse", "arduino", "slack", "youtube", "twitter", "makey", "literacy", "mln", "clubs", "wow", "iot", "inclusive" ]
          },
          {
            name: "people / distributed leadership",
            keyphrases: [ "members", "participants", "communities", "cohort", "users", "attendees", "students", "wranglers", "leaders", "captains", "follows", "coordinators", "partners", "facilitators", "mentors", "educators", "reserachers" ]
          },
          {
            name: "work together",
            keyphrases: [ "network", "networks", "connect", "connection", "feedback", "convening", "collaborate", "coordinate", "inviting", "interveiws", "pluse", "mentorship", "proposals", "takeaway", "onboarding", "practice", "roles", "consulted", "darci", "lessons", "metrics", "goals", "norming", "decider", "template", "accountable" ]
          },
          {
            name: "communication",
            keyphrases: [ "shared", "sharing", "emial", "blog", "comms", "engaging", "conversations", "tweet", "emails", "documentation", "demystify", "+1", "guaranteed", "awesome", "gratitude", "excited", "opportnities", "yay" ]
          },
          {
            name: "the work continues",
            keyphrases: [ "challenges", "tbd" ]
          }
        ]
      };
      cloudNavData.categories.unshift({
        name: "everything",
        keyphrases: [ "all words" ]
      })

      $("#word-cloud-nav").html( cloudNavTemplate(cloudNavData) );

      $("#word-cloud-nav h3").on("click", function() {
        var options = {};
        $("#word-cloud-nav h3").removeClass("active");
        $(this).addClass("active");

        var index = $("#word-cloud-nav h3").index($(this));
        if ( index == 0 ) {
          makeCloud(options,5);
        } else {
          options.wordsToInclude = cloudNavData.categories[index].keyphrases;
          makeCloud(options,0);
        }
      });

    </script>
  </body>
</html>
