extends ./layout.pug

block title
  title Overview

block main
  div(class="content")
    p 
      <b>Mozilla Foundation's London All Hands</b> brought together more than 100 people into 80+ sessions over 4 days. Our ideas manifested as 1000s of words on stickies and in Etherpads. 
    p 
      | We dug into the etherpads and counted keywords to learn more about ourselves.
    h2 
      | We focus on people
    ul
      li members (22)
      li participants (15)
      li communities (13)
      li cohort (10)
      li users (8)
      li attendees (7)
      li students (6)
    h2
      | ...especially distributed leadership.
    ul
      li wrangler(s) (24)
      li leaders (19)
      li captains (10)
      li fellows (10)
      li coordinators (9)
      li partners (9)
      li facilitators (8)
      li mentor (8)
      li educators (8)
      li researchers (6)
    h2
      | We work together
    ul
      li network(s) (31)
      li connect(-ed, -ing) (31)
      li feedback (18)
      li convening(s) (16)
      li collaborate(-ive) (11)
      li coordinate (9)
      li inviting (8)
      li interviews (8)
      li pulse (8)
      li mentorship (6)
    h2
      | ...and do it smartly.
    ul
      li proposals (29)
      li takeaways (15)
      li onboarding (13)
      li practices (11)
      li roles (11)
      li consulted (10)
      li darci (9)
      li lessons (9)
      li metrics (8)
      li goals (8)
      li norming (8)
      li decider (7)
      li template (7)
      li accountable (5)
    h2
      | Communication is central to our work
    ul
      li shared (-ing) (20)
      li email (13)
      li blog (14)
      li comms (12)
      li engaging (9)
      li conversations (6)
      li tweet (5)
      li emails (5)
      li documentation (5)
      li demystify (4)
    h2
      | ...and we broadcast confidence & excitement.
    ul
      li +1 (74)
      li guaranteed (19)
      li awesome (16)
      li gratitude (11)
      li excited (11)
      li opportunities (11)
      li yay (6)
    hr
    p
      | Share your <a href="https://github.com/mmmavis/docs-analyzer/issues">feedback or ideas</a> on this prototype.