extends ./layout.pug

block title
  title Word Cloud
block otherScript
  link(href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet")
  script(src="https://d3js.org/d3.v3.min.js")
  script(src="js/lib/d3.layout.cloud.js")

block main
  div(id="word-cloud-nav")
    ul
      each category in categories
        li
          h3= category.name
          div(class="keyphrases")
            each keyphrase in category.keyphrases
              div(class="keyphrase")= keyphrase
  div(id="word-cloud-container" class="main-containers")
    div(class="loading") loading...
    div(id="cloud")

block bodyEndScripts
  script(src="js/word-cloud.js")
  script(src="js/word-cloud-footer.js")
